%p
  #{t('.name')}:
  %br/
  = f.text_field :name
%p
  #{t('.number')}:
  %br/
  = f.text_field :number
%p
  #{t('.note')}:
  %br/
  = f.text_field :note
%p
  #{t('.manufacturer')}:
  %br/
  = f.text_field :manufacturer
%p
  #{t('.origin')}:
  %br/
  = f.text_field :origin
%p
  #{t('.unit')}:
  %br/
  = f.text_field :unit
%p
  #{t('.price')}:
  %br/
  = f.text_field :price
%p
  #{t('.tax')}:
  %br/
  = f.text_field :tax
%p
  #{t('.deposit')}:
  %br/
  = f.text_field :deposit
%p
  #{t('.unit_quantity')}:
  %br/
  = f.text_field :unit_quantity
%p
  #{t('.category')}:
  %br/
  = f.text_field :category
%p
  #{t('.scale_quantity')}:
  %br/
  = f.text_field :scale_quantity
%p
  #{t('.scale_price')}:
  %br/
  = f.text_field :scale_price
%p= f.submit class: 'btn btn-primary'
= f.hidden_field :supplier_id
