%h1
  = @supplier.articles.size
  #{t('.title')}
  = @supplier.name

%p
  #{t('.actions')}:
  = link_to t('.delete_all'), destroy_all_supplier_articles_url(@supplier), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }
  |
  = link_to t('.upload_article'), upload_supplier_articles_url(@supplier)
  |
  = link_to t('add_article'), new_supplier_article_url(@supplier)
  |
  = link_to t('.back'), suppliers_url
  
#filter{:style => "float:left;padding-right:1em;"}
  = form_tag supplier_articles_url(@supplier), :method => :get do
    #{t('.search_by_name')}:
    = text_field_tag :filter, @filter
    = submit_tag t('.search')
#sort{:style => "float:left;padding-right:1em;"}
  = form_tag supplier_articles_url(@supplier), :method => :get do
    #{t('.sort_by')}: #{t('.updated')}
    = check_box_tag :order, "updated_on", @updated_on, {:onclick => "submit();"}
|
= link_to t('.reset_filter'), supplier_articles_url(@supplier)
  
#list{:style => "clear:both;padding-top:1em"}
  %p= will_paginate @articles
  %table.table
    %tr
      %th= t('.name')
      %th= t('.number')
      %th= t('.note')
      %th= t('.manufacturer')
      %th= t('.origin')
      %th= t('.quantity')
      %th= t('.price')
      %th= t('.tax')
      %th= t('.deposit')
      %th= t('.unit_quantity')
      %th
      %th
      %th
    - for article in @articles
      %tr
        %td=h article.name
        %td=h article.number
        %td=h article.note
        %td=h article.manufacturer
        %td=h article.origin
        %td=h article.unit
        %td=h article.price
        %td=h article.tax
        %td=h article.deposit
        %td=h article.unit_quantity
        %th= link_to t('.show'), supplier_article_url(@supplier, article)
        %th= link_to t('.edit'), edit_supplier_article_url(article.supplier, article)
        %th= link_to t('.delete'), supplier_article_url(@supplier, article), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }
  %p= will_paginate @articles
