%h1= @article.name
%p
  #{t('.number')}:
  %br/
  %strong= @article.number
%p
  #{t('.note')}:
  %br/
  %strong= @article.note
%p
  #{t('.manufacturer')}:
  %br/
  %strong= @article.manufacturer
%p
  #{t('.origin')}:
  %br/
  %strong= @article.origin
%p
  #{t('.unit')}:
  %br/
  %strong= @article.unit
%p
  #{t('.price')}:
  %br/
  %strong= @article.price
%p
  #{t('.tax')}:
  %br/
  %strong= @article.tax
%p
  #{t('.deposit')}:
  %br/
  %strong= @article.deposit
%p
  #{t('.unit_quantity')}:
  %br/
  %strong= @article.unit_quantity
%p
  #{t('.categroy')}:
  %br/
  %strong= @article.category
%p
  #{t('.scale_quantity')}:
  %br/
  %strong= @article.scale_quantity
%p
  #{t('.scale_price')}:
  %br/
  %strong= @article.scale_price

= link_to t('.show'), edit_supplier_article_path(@article.supplier, @article)
|
|
= link_to t('.back'), supplier_articles_path(@article.supplier)
