%h1
  #{t('.upload_article_for')}:
  =@supplier.name
%p
  %i= t('.note')
#uploadArticles.uploadForm
  = form_for(:articles, data: {turbo: false}, :url => {:controller => 'articles', :action => 'parse'}, :html => { :multipart => true }) do |form|
    %p
      #{t('.upload')}:
      = form.file_field("file")
    %p
      #{t('.choose_file_format')}:
      %select{:name => 'type'}
        = options_for_select([["", ""]] + ArticleImport::file_formats.invert.map{|f,k| [f::NAME, k]})
    %p
      #{t('.encoding')}:
      %select{:name => 'encoding'}
        = options_for_select({"Default" => "", "UTF-8" => "UTF-8", "IBM850 (Terra)" => "IBM850", "ISO-8859-15 (Ökotopia)" => "ISO-8859-15"})
    %p
      = check_box_tag :delete_existing
      = label_tag :delete_existing, t('.delete_existing_articles_first')

    = submit_tag t('.upload_article_btn'), class: 'btn btn-primary'
    = hidden_field_tag :supplier_id, @supplier.id
%p= link_to t('.back'), supplier_articles_url(@supplier)
