%h1= ('verify_upload')
%p
  %i 
    Bitte 체berpr체fe die Daten aus der Datei und w채hle unten den Lieferanten aus.
    %br/
    Artikel dessen Namen schon in der Datenbank vorhanden sind, werden ignoriert.

= form_tag(:action => 'createArticlesFromFile') do
  %table.list
    %tr
      %th= t('.changing')
      %th= t('.name')
      %th= t('.number')
      %th= t('.note')
      %th= t('.manufacturer')
      %th= t('.origin')
      %th= t('.quantity')
      %th= t('.price')
      %th= t('.tax')
      %th= t('.deposit')
      %th= t('.unit_quantity')
      %th= t('scale_quantity')
      %th= t('scale_price')
    - for @article in @articles      
      %tr
        %td= text_field 'article[]', 'changing', :size => 3
        %td= text_field 'article[]', 'name', :size => 0
        %td= text_field 'article[]', 'number', :size => 5
        %td= text_field 'article[]', 'note', :size => 5
        %td= text_field 'article[]', 'manufacturer', :size => 5
        %td= text_field 'article[]', 'origin', :size => 5
        %td= text_field 'article[]', 'unit', :size => 5
        %td= text_field 'article[]', 'price', :size => 5
        %td= text_field 'article[]', 'tax', :size => 5
        %td= text_field 'article[]', 'deposit', :size => 5
        %td= text_field 'article[]', 'unit_quantity', :size => 5
        %td= text_field 'article[]', 'scale_quantity', :size => 5
        %td= text_field 'article[]', 'scale_price', :size => 5
  %p
    Lieferanten ausw채hlen: 
    = select('supplier', 'id', Supplier.all.collect {|s| [ s.name, s.id ] }, :selected => nil)
    = submit_tag t('.save')
  %p
  = link_to t('.back'), :action => 'uploadArticles'
      