%h1= t('.suppliers')
%p
  #{t('.actions')}:
  = link_to t('.add_supplier'), new_supplier_url
%table.table
  %tr
    %th= t('.name')
    %th= t('.address')
    %th= t('.phone')
    %th= t('.delivery_days')
    %th= t('.note')
    %th= t('.last update')
    %th= t('.article')
  - for supplier in @suppliers
    %tr
      %td= link_to supplier.name, supplier_path(supplier)
      %td= supplier.address
      %td= supplier.phone
      %td= supplier.delivery_days
      %td= supplier.note
      %td= I18n.l supplier.articles_updated_at rescue nil
      %td= link_to  supplier.articles.size.to_s + ' ' + t('.articles'), supplier_articles_url(supplier)
