%h1= @supplier.name
%p
  #{t('.address')}:
  %br/
  %strong= @supplier.address
%p
  #{t('.phone')} 1:
  %br/
  %strong= @supplier.phone
%p
  #{t('.phone')} 2:
  %br/
  %strong= @supplier.phone2
%p
  #{t('.fax')}:
  %br/
  %strong= @supplier.fax
%p
  #{t('.email')}:
  %br/
  %a{:href => "mailto:#{@supplier.email}" }= @supplier.email
%p
  #{t('.website')}:
  %br/
  %a{:href => @supplier.url, :target => "_blank" }= @supplier.url
%p
  #{t('.delivery_days')}:
  %br/
  %strong= @supplier.delivery_days
%p
  #{t('.foodcoop')}:
  %br/
  %strong= @supplier.foodcoop
%p
  #{t('.note')}:
  %br/
  %strong= @supplier.note

= link_to t('.edit'), edit_supplier_path(@supplier)
|
= link_to t('.delete'), supplier_path(@supplier), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }
|
= link_to t('.back'), suppliers_path
