!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title=h "Sharedlists: " + controller.controller_name
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_importmap_tags
    = javascript_include_tag "application_legacy"
  %body{data: {turbo: :false}}
    %nav{:class => "navbar navbar-expand-lg navbar-light bg-light"}
      .container-fluid
        .navbar-brand
          Sharedlists
        - if current_user.present?
          .collapse.navbar-collapse#navbarSupportedContent
            .navbar-nav.me-auto.mb-2.mb-lg-0
              .nav-item
                = link_to t('.suppliers'), suppliers_path, class: "nav-link"
              .nav-item
                = link_to t('.accounts'), users_path, class: "nav-link"
          .d-flex
            Logged in as #{current_user.email}&nbsp;#{link_to("log out", log_out_path)}
    .container
      #content
        - if flash[:notice]
          %br
          .alert.alert-success{role: "alert"}= flash[:notice]
        - if flash[:error]
          %br
          .alert.alert-danger{role: "alert"}= flash[:error]
        = yield
      #footer
      = yield :javascript
